
header .container {

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: -35px;

    .hero {
        align-items: center;
        background-image: url('../assets/my_images/drenagem-facia-meial-1200x600-1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 00px 0px 25px 25px;
        height: 27rem;
        display: flex;
        padding-bottom: 4rem;
        width: 100%;
        -webkit-box-shadow: 4px 4px 5px 1px rgba(166,172,175,.6);
        box-shadow: 4px 4px 5px 1px rgba(166,172,175,.6);

        h1 {
            padding: 1rem 0 0;
            text-align: center;
            margin-top: 25rem;
            width: 100%;
            font-family: 'Playfair Display', serif;
            font-size: 3.7rem;
        }

        h3 {
            font-size: 15px;
            margin-top: -15px;
            color: $color-secondary;
            background-color: $color-primary;

        }

        .beleza{
            padding-left: 20px;

            h1{
                font-size: clamp(2.2rem, 3vw, 5rem);
            }

            h3{
                font-size: clamp(0.865rem, 2.5vw, 1.7rem);
                margin-right: 15px;
                text-align: center;
            }
        }
    }

}

@media (max-width: 768px) {

}